[Unit]
Description=Start PWMS service
Requires=
After=network.target

[Service]
WorkingDirectory=/home/admgelie/Projects/pwms
EnvironmentFile=/home/admgelie/Projects/pwms/.env
ExecStart=/home/admgelie/Projects/pwms/start_pwms.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
Type=simple

[Install]
WantedBy=default.target
